<html>

<head>
    <title>
        ANIMAL_IN
    </title>
</head>

<body>
    <div>
        <table>
            <tr>
                <th>ANIMAL_ID</th>
                <th>ANIMAL_TYPE</th>
                <th>DATETIME</th>
                <th>INTAKE_CONDITION</th>
                <th>NAME</th>
                <th>SEX_UPON_INTAKE</th>
            </tr>
            {% for row in results %}
            <tr>
                <td> {{ row['ANIMAL_ID'] }} </td>
                <td> {{ row['ANIMAL_TYPE'] }} </td>
                <td> {{ row['DATETIME']|string }} </td>
                <td> {{ row['INTAKE_CONDITION'] }} </td>
                <td> {{ row['NAME'] }} </td>
                <td> {{ row['SEX_UPON_INTAKE'] }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>